@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: myFirstFont;
    font-weight: 1000;
    scroll-behavior: smooth;
}

.logo:hover {
    filter: invert(62%) sepia(8%) saturate(19%) hue-rotate(6deg) brightness(90%) contrast(89%) !important;
}

.logo {
    filter: invert(51%) sepia(32%) saturate(3182%) hue-rotate(1deg) brightness(104%) contrast(105%);
}

.parallax {
    min-height: 100vh;
    color: #FF8000;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

a {
    color: #ff8000;
    text-decoration: none;
}

footer {
    background-color: #c9dfec;
    color: #000;
    padding: 4px;
}
#footer-text{
    text-align: end;
    align-self: flex-end;
}

.form-container {
    display: flex;
}

fieldset{
    border: none;
}

button[type="submit"] {
    color: #000;
    background-color: #ff8000;
    border-radius: 6px;
    padding: 3px;
}
#name, #email, #message{
    background-color: #ff8000;
    color: #000;
    border-radius: 6px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
tr>th:first-child,tr>td:first-child {
    position: sticky;
    left: 0;
  }

th {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    background-color: #FF8000;
    color: #000;
}

.f1-table {
    position: absolute;
    overflow-x: auto;
    max-width: 100%;
    width: 100%;
    bottom: 0;
    color: #FF8000;
    background-color: #00000001;
    backdrop-filter: blur(10px);
    scrollbar-color: #FF8000 black;
    scrollbar-width: thin;
    text-align: center;
}

.list {
    position: absolute;
    top: 30vh;
}

.listH2 {
    text-align: center;
    padding: 20px;
}

ul,
ol {
    all: revert;
}

ul li {
    list-style-type: disc;
    display: list-item;
}

ol li {
    list-style-type: decimal;
}

#f1 {
    background-image: url("img/img_parallax.jpg");
}

#p1 {
    background-image: url("img/img_parallax_p1.jpg");
}

#indy {
    background-image: url("img/img_parallax_indy.jpg");
}

#gtr {
    background-image: url("img/img_parallax_gtr.jpg");
    min-height: 100vh;
}

.paragrafy {
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(10px);
    color: #FF8000;
    z-index: 50;
    position: absolute;
    height: 100%;
    right: 0;
    width: 0;
    transition: .3s ease;
    overflow: hidden;
}

.paragraf-icon {
    color: #ff8000;
    position: absolute;
    top: 50vh;
    cursor: pointer;
    right: 0;
    font-size: 4rem;
    transition: .3s ease;
    overflow: hidden;
    z-index: 51;
}

#p1-check {
    display: none;
}

#f1-check {
    display: none;
}

#indy-check {
    display: none;
}

#gtr-check {
    display: none;
}

#p1-paragraf {
    color: #ddd;
}

#gtr-paragraf {
    color: #c9dfec;
}

#indy-paragraf {
    color: #000;
}

#f1-icon:hover {
    color: #8f8f8f;
    transition: 0s;
}

#p1-icon:hover {
    color: #8f8f8f;
    transition: 0s;
}

#indy-icon:hover {
    color: #8f8f8f;
    transition: 0s;
}

#gtr-icon:hover {
    color: #8f8f8f;
    transition: 0s;
}

#f1-icon {
    color: #FF8000;
}

#p1-icon {
    color: #ddd;
}

#indy-icon {
    color: #000;
}

#gtr-icon {
    color: #c9dfec;
}

#right-p1, #right-gtr, #right-indy {
    display: none;
    overflow: hidden;
}

#p1-check:checked~.paragrafy {
    width: 50vh;
}

#p1-check:checked~.paragraf-icon #right-p1 {
    display: block;
}

#p1-check:checked~.paragraf-icon #left-p1 {
    display: none;
}

#p1-check:checked~.paragraf-icon {
    right: 50vh;
}


#indy-check:checked~.paragrafy {
    width: 50vh;
}

#indy-check:checked~.paragraf-icon #right-indy {
    display: block;
}

#indy-check:checked~.paragraf-icon #left-indy {
    display: none;
}

#indy-check:checked~.paragraf-icon {
    right: 50vh;
}


#gtr-check:checked~.paragrafy {
    width: 50vh;
}

#gtr-check:checked~.paragraf-icon #right-gtr {
    display: block;
}

#gtr-check:checked~.paragraf-icon #left-gtr {
    display: none;
}

#gtr-check:checked~.paragraf-icon {
    right: 50vh;
}
h2{
    margin-top: 12px;
}
h3{
    margin-top: 8px;
}
.text {
    position: relative;
    padding: 6px;
    top: 30vh;
}

#logo_desktop {
    display: block;
    height: 50px;
}

#logo_mobile {
    display: none;
}

body {
    min-height: 100vh;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

#heady {
    background-color: #FF8000;
}

.navbar a:hover {
    color: #8f8f8f !important;
}

.navbar a {
    font-size: 1.15rem;
    color: #000;
    text-decoration: none;
    margin-left: 2.5rem;

}

#check {
    display: none;
}

.icons {
    font-size: 2.8rem;
    right: 5%;
    color: #000;
    cursor: pointer;
    display: none;
}

@media (max-width: 992px) {
    .header {
        padding: 1.3rem 5%
    }

    #logo_desktop {
        display: none;
    }

    #logo_mobile {
        display: block;
        height: 50px;
    }
}

@media (max-width: 700px) {
    #f1 {
        background-image: url("img/img_parallax_mobile.jpg");
    }

    #p1 {
        background-image: url("img/img_parallax_p1_mobile.jpg");
    }

    #indy {
        background-image: url("img/img_parallax_indy_mobile.jpg");
    }

    #logo_desktop {
        display: block;
        height: 50px;
    }

    #logo_mobile {
        display: none;
    }

    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, .1);
        backdrop-filter: blur(10px);
        transition: height .3s ease;
        overflow: hidden;
    }

    #navy {
        color: #000;
    }

    #check:checked~.navbar {
        height: 12.7rem;
    }

    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
    }

}